<?xml version='1.0' encoding='utf-8'?>
<widget id="io.cordova.clientSide" version="0.0.1" xmlns="http://www.w3.org/ns/widgets" xmlns:cdv="http://cordova.apache.org/ns/1.0">
    <name>Mobile-Module-Js</name>
    <description>
        A sample Apache Cordova application that responds to the deviceready event.
    </description>
    <author email="46517115@qq.com" href="https://github.com/ryouaki/Hybrid_project_template_Cordova_Nodejs_Mongodb_Bootstrap_JQuery.git">
        Ryou's Github Space.
    </author>
    <content src="index.html" />
    <plugin name="cordova-plugin-whitelist" spec="1" />
    <access origin="*" />
    <allow-intent href="*" />
</widget>
