/* CSS for login view */
.admin-login-form {
	max-width: 450px;
	padding: 10% 15px 15px;
	margin: 0px auto;	
}

.admin-login-form-element {
	margin-bottom: 5px;
}

.admin-backgroud-color {
	background-color:#eee;
}

.admin-login-form-title {
	margin-bottom: 5px;
    margin-top: 5px;
}

.admin-login-form-error {
	margin-top: -5px;
	text-align: center;
	color: #f00;
	margin-bottom: 5px;
}

.admin-login-form-haserror {
	border : 2px solid #f00;
}
/* CSS for admin main view */
.admin-main-panel {
    position: relative;
    padding: 5px 5px 5px;
    margin: 0 5px 5px;
    border-width: 1px;
    border-color: #ddd;
    border-radius: 4px 4px 4px 4px;
    box-shadow: none;
}

.admin-main-no-bottom {
    border-bottom-style: none;
}

.admin-main-navbar-no-radius-margin {
    background-color: #fff;
    border-left-width: 0px;
    border-right-width: 0px;
    border-top-style: none;
    border-right-style: none;
    border-left-style: none;
    border-bottom-style: none;
    border-bottom-right-radius: 0px;
    border-bottom-left-radius: 0px;
    margin-bottom: 0px;
}

.admin-main-panel-header {
    padding-left: 10px;
    margin-bottom: 5px;
    font-size: 16px;
    color: black !important;
    font-weight: bold;
}

.admin-main-no-margin-right {
    margin-right: 0px;
}

.admin-main-div {
    border-bottom-style: none;
    margin: 0px 10px 10px;
}

.admin-main-signout {
    padding: 10px 15px;
    margin: 0px;
    float: right;
}

.admin-main-background { 
    position: fixed;
    height: 100%;
    width: 100%;
    background: rgba(0, 0, 0, 0.2) none repeat scroll 0% 0%;
    z-index: 100;
    display: none;
    top: 0px;
    left: 0px;
}

.admin-main-process {
    position: absolute;
    top: 45%;
    width: 40%;
    left: 30%; 
}

/* CSS for admin main home View */
.admin-main-home-warn {
    position: absolute;
    margin: 9px 0px 0px 2px;
    color: #F8B700;
}

.admin-main-align-right {
    float : right;
    margin-left: 15px;
}

.btn-link:focus, .btn-link:hover {
    text-decoration: blink;
}

.admin-main-home-edit {
    margin: 10px 0px 0px;
    padding: 2px;
    font-size: 16px;
    border-radius: 3px;
    height: 100%;
    width: 60px;
}

.admin-main-home-item-text {
	height: 100%;
    width: 100%;
    resize: none;
}