<div class="admin-main-panel" id="admin-main-panel-body">
  <ul class="nav nav-tabs admin-main-no-bottom" id="admin-main-menu">
  </ul>
  <div class="panel panel-default">
    <!-- Default panel contents -->
    <nav class="navbar navbar-default admin-main-navbar-no-radius-margin" role="navigation">
        <div id="admin-main-panel-header" class="navbar-text admin-main-panel-header"></div>
        <div>
        <ul class="nav navbar-nav navbar-right admin-main-no-margin-right" id="admin-main-sub-menu">
        </ul>
      </div>
    </nav>
    <!-- Main page -->
    <div id="admin-main-div" class="admin-main-div">
    </div>
  </div>
</div>