<div id="admin-login-view">
  <form class="admin-login-form" role="form" onSubmit="return false;" id="admin-login-form">
    <div class="panel panel-default" id="admin-login-form-div">
      <div class="panel-heading">
        <h4 class="panel-title"><p class="text-center admin-login-form-title" id="admin-login-txt-title"></p></h4>
      </div>
      <div class="panel-collapse collapse in">
        <div class="panel-body">
          <input name="name" type="tel"      class="form-control admin-login-form-element" placeholder="User Name"> 
          <input name="pass" type="password" class="form-control admin-login-form-element" placeholder="Password">
          <button id="admin-login-btn-submit" class="btn btn-lg btn-primary btn-block"></button>
        </div>
      </div>
    </div>
  </form>
</div>